<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRCOpenUrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF1F89741F42CF6A005B6373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF1F89881F42CF6A005B6373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF1F89931F42CF6A005B6373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
